$color-user-profile: #2E86AB;
$color-user-profile2: #22637F;
$color-user-text: #f0f0f5;
$color-user-highlights1: #549fbb;
$color-user-highlights2: #3B4051;
$color-dull-white: #F2F2F6;



@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import "partials/personal-profile";
@import "partials/group-profile";
@import "partials/profile-edit";
