<div ng-app="mainApp"  id="ca-wrapper">
  <h1 class="ca-header">Add chore</h1>
  <img class="bg" src="assets/images/chores/vacuum-cleaner.png">
  <form class="ca-form" ng-submit="submitForm()">
    <h2>Type:</h2> <input style="font-family: Arial;"  ng-model="choreName" type="text"></input>
    <h2>Area:</h2> <input style="font-family: Arial;"  ng-model="choreDesc" type="text"></input>
    <h2>Points:</h2> <input style="font-family: Arial;" ng-model="chore_xp" type="number"></input>
    <button class="ca-submit" type="submit"><p>Submit</p></button>
  </form>
</div>
