<div id="hhwrapper">
  <h1 class="hh-header">Household Setup</h1>
  <img class="background" src="assets/images/misc/castle.png">
  <form ng-controller="hhController" class="hh-form" ng-submit="submitForm()">
    <h2>Name:</h2><input class="house-name-input"  name="name" ng-model="hhName" type="text"></input>
    <h2>City:</h2><input class="house-location-input"  name="desc" ng-model="hhCity" type="text"></input>
    <h2>Rent Amount:</h2> <input class="house-rent-input"  ng-model="hhRent" type="text"></input>
    <!-- Notes: <input type="text"></input> -->
    <a href="#/profile-edit"><button ng-click="submitForm()" class="hh-submit" type="submit"><p>CREATE HOUSEHOLD!</p></button></a>
  </form>
</div>

<div class="btn-menu">

  <div class="chores">
    <a href="#/chore-user"><img src="assets/images/chores/liquid-soap.png"></a>
  </div>

  <div class="household">
    <a href="#/main"><img src="assets/images/misc/house.png"></a>
  </div>

  <div class="shopping-list">
    <a href="#/shop-user"><img src="assets/images/misc/cart.png"></a>
  </div>

  <div class="bills">
    <a href="#/bill-user"><img src="assets/images/misc/payment.png"></a>
  </div>

</div>
