<div class="main-wrapper">
  <!-- <div class="colorbar"></div> -->
  <main class="main-chore-user-main">
    <section class="main-section-main">
      <!-- main avatar on page of user...will be enclosed in a status circle and positioned in center -->
      <div ng-controller="avatardisplay" class="main-center-avatar">
        <img class="main-user-avatar" src="{{avatar}}" alt="user-avatar">
      </div>
    </section><!-- end .section-main -->
    <div ng-controller="xpBar" id="pgbar-container">
      <br />
      <div class='progress'><span class='twenty status'></span></div>
    </div>    <!-- chore section of page...will include user name and chores unordered list -->
    <section class="main-section-chores">
      <h1 class="main-username">Recent Chores</h1>
      <a href="#/chore-user"><i style="font-size: 6em; position: absolute; margin: -1.9em 8em 0 8.9em;" class="fa fa-list-ul" aria-hidden="true"></i></a>
      <ul class="main-chores-headings">
        <li><h2 class="main-type-heading">Chore</h2></li>
        <li><h2 class="main-points-heading">Points</h2></li>
        <li><h2 class="main-confirm-heading">Complete?</h2></li>
      </ul>
      <ul class="main-chore-list"  ng-repeat="chore in totalChores | orderBy: 'created_at':true | limitTo:3">
        <li>
          <img class="main-chore-icon" src={{chores[totalChores.indexOf(chore)].ChoreIcon}} alt="Picture of chore">
          <h2 class="main-chore-name">{{chore.name}}</h2>
          <h2 class="main-chore-value">{{chore.chore_xp}}</h2>
          <span class="fa fa-check-circle-o" aria-hidden="true" ng-click="removeChore( chore )"></span>
          <h2 class="main-chore-description">{{chore.description}}</h2>
        </li>
      </ul>
    </section><!-- end .section-chores -->
  </main>
  <section class="main-section-shopping-list">
    <h1 class="main-username">Shopping List</h1>
    <a href="#/shop-user"><i style="font-size: 6em; position: absolute; margin: -2.3em 8em 0 8.4em;" class="fa fa-list-ul" aria-hidden="true"></i></a>
    <ul class="main-shopping-headings">
      <li><h2 class="main-qty-heading">Qty</h2></li>
      <li><h2 class="main-item-heading">Item Name</h2></li>
      <li><h2 class="main-checkbox-heading">Complete?</h2></li>
    </ul>
    <ul class="main-shopping-list">
      <li>
        <h2 class="main-qty">10</h2>
        <h2 class="main-shopping-item">Yoplait Raspberry</h2>
        <input class="main-item-checkbox" type="checkbox" ng-model="checkboxModel.value2" ng-true-value="'YES'" ng-false-value="'NO'">
      </li>
    </ul>
  </section><!-- end .section-chores -->
</div>

<div class="btn-menu">

  <div class="chores">
    <a href="#/chore-user"><img src="assets/images/chores/liquid-soap.png"></a>
  </div>

  <div class="household">
    <a href="#/main"><img src="assets/images/misc/house.png"></a>
  </div>

<div class="shopping-list">
    <a href="#/shop-user"><img src="assets/images/misc/cart.png"></a>
  </div>

  <div class="bills">
    <a href="#/bill-user"><img src="assets/images/misc/payment.png"></a>
  </div>

</div>
