<main class="profile-edit-main" >
  <section class="section-main">
    <!-- will be left side of a 3 column centered grid...will display #of chores done? -->
    <span class="left-chores fa fa-arrow-left" aria-hidden="true" ng-click="previousIcon()"></span>
    <!-- main avatar on page of user...will be enclosed in a status circle and positioned in center -->
    <span class="center-avatar">
      <img class="user-avatar" src={{currentAvatar}} alt="user-avatar">
    </span>
    <!-- will be right side of a 3 column centered grid...will display level? -->
    <span class="right-level fa fa-arrow-right" aria-hidden="true" ng-click="nextIcon()"></span>
    <!-- edit user name and location of group -->
    
    <fieldset>
      <!-- <legend>Edit Profile</legend> -->
      <label class="edit-name">
        <h2 class="name-heading">Email</h2>

        <input class="profile-name-input" type="text" name="user-name"  ng-model="name">
      </label>
      <!-- <label class="edit-location">
        <h2 class="location-heading">Email:</h2>
        <input type="text" name="group-location" >
      </label> -->
      <!-- <label class="venmo-account">
        <h2 class="venmo-username">{{userToken}}</h2>
        <input type="text" name="group-location" placeholder="username (optional)">
      </label> -->
        <input type="text" name="group-location" placeholder="username (optional)" ng-model="venmoName">
      </label>
    </fieldset>
    <div class="save">
      <!-- <h2 class="payment-options">Payment Options</h2> -->
      <a href="#/main"><button class="profile-save" type="submit" ng-click="sendProfile()"><p>Save Changes</p></button></a>
    </div>
  </section>
</main>

<div class="btn-menu">

  <div class="chores">
    <a href="#/chore-user"><img src="assets/images/chores/liquid-soap.png"></a>
  </div>

  <div class="household">
    <a href="#/main"><img src="assets/images/misc/house.png"></a>
  </div>

  <div class="shopping-list">
    <a href="#/shop-user"><img src="assets/images/misc/cart.png"></a>
  </div>

  <div class="bills">
    <a href="#/bill-user"><img src="assets/images/misc/payment.png"></a>
  </div>

</div>
