<div id="su-wrapper">
  <form class="su-form" ng-submit="submitForm()">
    <div class="colorbar"></div>
    <div class="su-header"><h3>Sign up</h3></div>
    <h2>Email:</h2> <input style="font-family: Arial;" name="email" ng-model="user.email" type="text"></input>
    <h2>Password:</h2> <input style="font-family: Arial;" name="password" ng-model="user.password" type="password"></input>
    <h2>Confirm Password:</h2> <input style="font-family: Arial;" name="password" ng-model="user.passwordConfirmation" type="password"></input>
    <h2>Venmo Username</h2><h4>(optional)</h4> <input style="font-family: Arial;" name="venmo"  type="text"></input>

    <button ng-click="register()" class="su-submit" type="submit"><p>Sign Up</p></button>
  </form>

</div>
