<div id="su-wrapper">
  <form class="su-form" ng-submit="submitForm()">
    <div class="colorbar"></div>
    <div class="su-header">Sign up</div>
    <p>Email:</p> <input style="font-family: Arial; font-size:20px" name="email" ng-model="suEmail" type="text"></input>
    <p>Password:</p> <input style="font-family: Arial; font-size:20px" name="password" ng-model="suPassword" type="password"></input>
    <p>Venmo Username</p><h4>(optional)</h4> <input style="font-family: Arial; font-size:20px" name="venmo"  type="text"></input>

    <a href="/#household"><button type="submit">Sign Up</button></a>
  </form>

</div>
