<div id="su-wrapper">
  <form class="su-form" ng-submit="submitForm()">
    <div class="colorbar"></div>
    <div class="su-header"><h3>Sign up</h3></div>
    <h2>Email:</h2> <input style="font-family: Arial;" name="email" ng-model="user.email" type="text"></input>
    <h2>Password:</h2> <input style="font-family: Arial;" name="password" ng-model="user.password" type="password"></input>
    <!-- <h2>Confirm Password:</h2> <input style="font-family: Arial;" name="password" ng-model="user.passwordConfirmation" type="password"></input>
    <h2>Venmo Username</h2><h4>(optional)</h4> <input style="font-family: Arial;" name="venmo"  type="text"></input> -->

    <a href="#/household"><button ng-click="register()" class="su-submit" type="submit"><p>Sign Up</p></button></a>

  </form>

</div>

<div class="btn-menu">

  <div class="chores">
    <a href="#/chore-user"><img src="assets/images/chores/liquid-soap.png"></a>
  </div>

  <div class="household">
    <a href="#/main"><img src="assets/images/misc/house.png"></a>
  </div>

  <div class="shopping-list">
    <a href="#/shop-user"><img src="assets/images/misc/cart.png"></a>
  </div>

  <div class="bills">
    <a href="#/bill-user"><img src="assets/images/misc/payment.png"></a>
  </div>

</div>
