@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 100%
  );

  .bill-user-main {

    @include container;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: $background;
    color: $text;
    margin-top: -2em;

    .page-heading {
      text-align: center;
      font-size: 5.5em;
      font-weight: 400;
      margin: 1.25em 0 2.15em 0;
    }

    .bill-headings {

      .user-heading,
      .descrip-heading,
      .amount-heading,
      .paid-heading {
        display: inline-block;
        font-size: 4em;
        font-weight: 400;
        margin: 0 0 5.5em 0;
      }

      .user-heading {
        @include span( 2 of 12 );
        margin-left: .75em
      }

      .descrip-heading {
        @include span( 3 of 12 );
        margin-left: 1.9em;
      }

      .amount-heading {
        @include span( 2 of 12 );
        margin-left: -.9em;
      }

      .paid-heading {
        @include span( 2 of 12 );
        margin-left: 1.65em;
        // background: yellow;
      }
    } // end .bill-headings

    .bills {

      margin: 2em 0 0 .35em;

      li {
        @include span( 12 of 12 );
        margin-top: -16em;
        cursor: pointer;
        // background: yellow;
      }

      li:last-child {
        margin-bottom: 23em;
      }

      img,
      span {
        display: inline-block;
        font-size: 4.5em;
      }

      img {
        @include span( 2 of 12 );
        width: 2.75em;
        margin-left: .15em;
      }

      span {
        margin-top: 1em;
      }

      .bill-descrip,
      .bill-amount {
        font-size: 3.85em;
        color: $text;
      }

      .bill-descrip {
        @include span( 3 of 12 );
        width: 6em;
        margin-left: .15em;
      }

      .bill-amount {
        @include span( 2 of 12 );
        margin-left: -1.3em;
      }

      .fa-usd {
        @include span( 2 of 12 );
        font-size: 5.25em;
        color: $text;
        position: absolute;
        margin: .5em 0 0 1.55em;
      }

      .fa-check-circle-o {
        @include span( 2 of 12 );
        // display: none;
        font-size: 7em;
        color: $text;
        margin: .4em 0 0 1em;
      }

    } // end .bills
  } // end bill-user-main
