$susy: (
columns: 12,
container: 100%,
);

.bill-info-main {

  @include container;
  @include span( 12 of 12 );

  h1 {
    @include span( 12 of 12 );
    margin: .15em auto 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 10em;
    color: $text;
    text-align: center;
  }

  li {
    display: inline-block;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }

  .user-avatar {
    @include span( 4 of 12 );
    width: 13em;
    margin: 10em 0 0 3.25em;
  }

  .bill-descrip {
    @include span( 4 of 12 );
    width: 8em;
    font-size: 3em;
    margin-left: 1.5em;
    text-transform: uppercase;
  }

  .bill-amount {
    @include span( 2 of 12 );
    font-size: 3em;
    margin-left: 2em;
  }

  button {
    @include span( 12 of 12 );
    text-align: center;
    width: 7em;
    margin-left: 2.75em;
    font-size: 5em;
    margin-top: 3.5em;
    border: none;
    border-radius: 3%;
    background: #85DDA2;
    -webkit-box-shadow: 0px 18px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 18px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 18px 22px 0px rgba(50, 50, 50, 0.75);
  }

} // end .bill-info-main
