@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 100%
  );

.group-profile-main {

  @include container;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  min-height: 100%;

  .section-main {
    @include span( 12 of 12 );
    background-color: $background;
    color: $color-user-highlights2;
    margin-top: 2em;

    h3 {
      color: $color-user-highlights2;
    }

    .left-chores {
      @include span( 3 of 12 );
      // background: blue;
      font-size: 4em;
      margin: 1em 0 0 10%;
      text-align: center;
    }

    .center-avatar {
      @include span( 3 of 12 );
      // background: orange;
      margin: -4em 6.5% 0 0;

      .group-avatar {
        width: 22em;
        margin-left: -6%;
        border-radius: 50%;
      }
    }

    .right-level {
      @include span( 3 of 12 );
      // background: green;
      font-size: 4em;
      // background: green;
      margin: 1em 0 0 0;
      text-align: center;
    }

    .group-name,
    .group-location,
    .user-age,
    .group-members-num {
      @include span( 12 of 12 );
      text-align: center;
      color: $color-user-highlights2;
    }

    .group-name {
      font-size: 5.5em;
      margin-top: 1em;
    }

    .group-location {
      font-size: 4em;
      margin-top: 2em;
    }

    .group-members-num {
      font-size: 3.25em;
      margin: .5em auto 1.5em;
    }
  } // end .section-main

  .section-members {

    @include span( 12 of 12 );
    background-color: $color-user-profile2;
    color: $color-user-text;
    margin-top: 1.5em;

    .group-members-heading {
      @include span( 12 of 12 );
      text-align: center;
      font-size: 3em;
      font-weight: 400;
      text-transform: uppercase;
      color: $color-user-highlights1;
      margin: 1.5em auto 1.5em;
    }

    .group-member {
      @include span( 2.5 of 12 );
      margin: 0 0 0 4.45%;
      text-align: center;
      cursor: pointer;
      // background-color: red;
    }

    .user-avatar {
      width: 11em;
      border-radius: 50%;
    }

    .member-name {
      font-size: 3.25em;
      color: #fff;
      margin: 1em 0 1em 0;
    }

    .member-stats {

      @include span( 12 of 12 );
      display: none;
      width: 100%;
      margin: 0 0 1.5em -1.15em;
      padding-bottom: 17.5em;

      .member-level1,
      .member-points1,
      .member-expertise1 {
        @include span( 3 of 12 );
        text-align: center;
        font-size: 3em;
        color: $color-user-text;
        margin: 1.5em 0 0 1.4em;
      }

      .line-two {
        font-size: .85em;
        color: $color-user-highlights1;
        margin-top: .65em;
      }

      .member-expertise {
        margin-bottom: 2em;
      }
    }
  } // end .section-secondary
} // end .personal-profile-main
