.fa-cog {
  cursor: pointer;
  font-size: 5.5em;
  margin: .3em 0 0 .3em;
}

.options {
  font-family: 'Andale Mono';
  font-size: 4em;
  color: $color-user-highlights2;
  margin: 0 0 0 1.5em;
  position: absolute;
  width: 8em;
  li{
    background: #A0C1D1;
  }

  a {
    text-decoration: none;
    color: $color-user-highlights2;
  }

}
