.fa-cog {
  cursor: pointer;
  font-size: 5.5em;
  margin: .3em 0 0 .3em;
  color: #549fbb;
}

.options {
  font-family: 'Roboto';
  font-size: 4em;
  color: $color-user-highlights2;
  margin: 0 0 0 1.5em;
  position: absolute;
  width: 8em;
  li{
    background: #A0C1D1;
    line-height: 2;
    padding-left: 1em;
  }

  a {
    text-decoration: none;
    color: $color-user-highlights2;
  }
} // end options

.landing-header {
  // visibility: hidden;
}
