@import "../../../bower_components/susy/sass/susy";


$susy: (
columns: 12,
container: 100%,
);

#hhwrapper{
.hh-header{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 4em;
  color: $background;
  text-align: center;
}
.background{
  display: block;
  position: absolute;
  z-index: -9999;
  margin-left: 27em;
  margin-top: 5em;
  opacity: .35;
}
.hh-form{
  font-family: 'Baumans', cursive;
  font-size: 28px;
  display: block;
  position: absolute;
  margin-top: 8em;
  margin-left: 18em;
  width: 6em;
  input{
    width: 18em;

  }
  button{
    margin-left: 5.2em;
    margin-top: 1em;
    height: 3em;
    width: 11em;
    font-family: Baumans;
    font-size: 17px;
    border: none;
    border-radius: 3%;
    background: #C43F33;
    -webkit-box-shadow: 0px 18px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 18px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 18px 22px 0px rgba(50, 50, 50, 0.75);
  }
}

}
