@import "../../../bower_components/susy/sass/susy";


$susy: (
columns: 12,
container: 100%,
);

#hhwrapper{
  @include span(12 of 12);
.hh-header{
  @include span(12 of 12);
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 5em;
  color: $text;
  text-align: center;
}
.background{
  display: block;
  position: absolute;
  margin-left: 8em;
  margin-right: auto;
  margin-top: 5em;
  opacity: .35;
  height: 41em;
}
.hh-form{
  @include span(12 of 12);
  display: block;
  position: absolute;
  margin-top: 9em;
  margin-left: 13em;
  width: 16em;
  padding-left: 0.8em;
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
 
  }
  input{
    width: 25em;
    height: 3em;

  }
      .hh-submit{
      margin-left: 4em;
      margin-top: 1em;
      height: 5em;
      width: 19em;
      font-family: Baumans;
      font-size: 17px;
      border: none;
      border-radius: 3%;
      background: #C43F33;
      -webkit-box-shadow: 0px 18px 22px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 18px 22px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 18px 22px 0px rgba(50, 50, 50, 0.75);
    p{
      font-family: 'Roboto',sans-serif;
      font-size: 2em;
    }
  }
}

}
