
.btn-menu{
  @include span(12 of 12);
  display:flex;
  position: fixed;
  bottom:0px;
  background: #A0C1D1;
  z-index: 9999999999;
  padding-left: 1em;
}
.profile{
  @include span(12 of 12);
  position: relative;
  display: inline-block;
  margin-left: auto;
  img{
      height: 4.3em;
    // background: #dcdcdd;
    border-radius: 19%;
  }
  h2{
    font-family: 'Baumans', cursive;
    font-size: 1.5em;
    text-align: center;
    color:#dcdcdd;
  }
}

.chores{
  @include span(12 of 12);
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  img{
    height: 4.3em;
    // background: #dcdcdd;
    border-radius: 19%;
  }
  h2{
    font-family: 'Baumans', cursive;
    font-size: 1.5em;
    text-align: center;
    color:#dcdcdd;

  }
}

.shopping-list{
  @include span(12 of 12);
  position: relative;
  display: inline-block;
  margin-left: auto;
  img{
    height:4.3em;
    // background: #dcdcdd;
    border-radius: 19%;
  }
  h2{
    font-family: 'Baumans', cursive;
    font-size: 1.5em;
    text-align: center;
    color:#dcdcdd;

  }
}

.bills{
  @include span(12 of 12);
  position: relative;
  display: inline-block;
  margin-left: auto;
  img{
    height:4.3em;
    // background: #dcdcdd;
    border-radius: 19%;
  }
  h2{
    font-family: 'Baumans', cursive;
    font-size: 1.5em;
    text-align: center;
    color:#dcdcdd;

  }
}
.household{
  @include span(12 of 12);
  position: relative;
  display: inline-block;
  img{
    height:4.3em;
    // background: #dcdcdd;
    border-radius: 19%;
  }
  h2{
    font-family: 'Baumans', cursive;
    font-size: 1.5em;
    text-align: center;
    color:#dcdcdd;

  }
}
