@import "../../../bower_components/susy/sass/susy";


$susy: (
columns: 12,
container: 1120px,
global-box-sizing: border-box,
);

body{

  background-color: #EE6352;
}





.wrapper{
@include container;
@include span(12);
// border: solid 2px black;


}
* {
    box-sizing: border-box;
}



.header{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 4em;
  color: $background;
  text-align: center;
}

.icon{
  img{
    height: 250px;
    margin-left: 35%;
    margin-top: 7%;
    margin-bottom: 7%;
    opacity: 0.75;
    position: relative;
    display: block;
  }
}

.login{
  font-family: 'Baumans', cursive;
  font-size: 1.2em;
  position: relative;
  width: 21%;
  text-align: center;
  margin-left: 38%;
  line-height: 1.7;

  input{
    height: 34px;
    width: 210px;
    border: none;
    border-radius: 4%;
  }
  button{
    font-family: 'Baumans', cursive;
    font-size: 1.1em;
    height: 30px;
    width: 150px;
    position: relative;
    margin-left: 29px;
    margin-top: 10px;
    border: none;
    background: #DCDCDD;

  }
}
.gmail{
  h2{
    font-family: 'Baumans', cursive;
    font-size: 1.6em;
    position: absolute;
    margin-left: 35%;
    padding-top: 10px;
    margin-top: 6.7%;
  }
  img{
    border: 15px solid #DCDCDD;
    border-radius: 50%;
    position: absolute;
    margin-left: 53%;
    margin-top: 34px;
  }
}
