@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 100%
  );

.profile-edit-main {

  @include container;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  .section-main {
    @include span( 12 of 12 );
    background-color: $color-user-profile;
    color: $color-user-text;
    margin-top: 2em;

    h3 {
      color: $color-user-highlights2;
    }

    .left-chores {
      @include span( 3 of 12 );
      // background: red;
      font-size: 4em;
      margin: 1em 0 0 9.35%;
      text-align: center;
      cursor: pointer;
    }

    .center-avatar {
      @include span( 3 of 12 );
      // background: orange;
      margin: -4em 6.5% 0 0;

      .user-avatar {
        width: 22em;
        margin-left: -3%;
        border-radius: 50%;
      }
    }

    .right-level {
      @include span( 3 of 12 );
      font-size: 4em;
      // background: green;
      margin: 1em 0 0 2.5%;
      text-align: center;
    }

    .fa-arrow-left,
    .fa-arrow-right {
      font-size: 7.5em;
      cursor: pointer;
    }
  } // end .section-main

  fieldset {

    @include span( 10 of 12 );
    margin: 1em 0 0 11.35%;

    .edit-name,
    .edit-location,
    .venmo-account {
      @include span( 12 of 12 );
    }

    .edit-name {
      margin: 1em 0 1em -.75em;
    }

    .edit-location {
      margin: .5em 0 1.75em -.75em;
    }

    .venmo-account {
      margin: .5em 0 1.5em -.75em;
    }

    .name-heading,
    .location-heading,
    .venmo-username {
      display: block;
      font-size: 4.25em;
      margin: 1em 0 .75em 0;
    }

    input {
      width: 10.85em;
      font-size: 4.5em;
    }
  } // end fieldset

  .payments {
    @include span( 12 of 12 );
    margin: 3.25em 0 .5em 10%;
  }

  .payment-options {
    font-size: 4.25em;
  }

  .venmo,
  .android-pay {
    @include span( 6 of 12 );
    display: inline-block;
    // text-align: center;
    // width: 17em;
    margin: 0 1em 0 4.5em;
  }

  .venmo {
    width: 18em;
    margin: 3.75em 0 1em 5.5em;
    cursor: pointer;
  }

  .android-pay {
    width: 10.5em;
    margin: 1.5em 0 1em 11.5em;
    cursor: pointer;
  }

  // .payments {
  //   margin: 0 0 3em 10%;
  // }

} // end .personal-profile-main
