@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 90%
  );

.profile-edit-main {

  @include container;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  .section-main {
    @include span( 12 of 12 );
    background-color: $color-user-profile;
    color: $color-user-text;

    h3 {
      color: $color-user-highlights2;
    }

    .left-chores {
      @include span( 4 of 12 );
      // background: blue;
      margin: 1.5em 0 0 0;
      text-align: center;
    }

    .center-avatar {
      @include span( 4 of 12 );
      // background: orange;
      text-align: center;
      position: relative;
      right: .1%;

      .user-avatar {
        width: 6.5em;
        margin-top: 2em;
        border-radius: 50%;
      }
    }

    .right-level {
      @include span( 4 of 12 );
      // background: green;
      margin: 1.5em 0 0 0;
      text-align: center;
    }

    .fa-arrow-left,
    .fa-arrow-right {
      font-size: 2.5em;
      cursor: pointer;
    }

    .user-name,
    .group-location,
    .user-age,
    .group-members-num {
      @include span( 12 of 12 );
      text-align: center;
      color: $color-user-text;
    }

    .user-name {
      font-size: 2em;
      margin-top: 1em;
    }

    .group-location {
      font-size: 1.15em;
      margin-top: 2em;
    }

    .user-age {
      font-size: .95em;
      margin-top: 1.75em;
    }

    .group-members-num {
      font-size: .95em;
      margin: .5em auto 1.5em;
    }
  } // end .section-main

  fieldset {

    margin: 2em 0 0 11.5%;

    .edit-name,
    .edit-location {
      @include span( 10 of 12 );
    }

    .edit-name {
      margin: 1.5em 0 1em -.75em;
    }

    .edit-location {
      margin: 1em 0 3.5em -.75em;
    }

    .name-heading,
    .location-heading {
      display: block;
      font-size: 1.5em;
      margin: 1em 0 .75em 0;
    }

    input {
      width: 12em;
      font-size: 1.25em;
    }

    .payments {
      @include span( 12 of 12 );
    }

    .payment-options {
      font-size: 1.45em;
      margin: 0 1em .5em -.5em;
    }

    .venmo,
    .android-pay {
      @include span( 6 of 12 );
      display: inline-block;
      // text-align: center;
      // width: 17em;
      margin: 0 1em 0 -.5em;
    }

    .venmo {
      width: 5.5em;
      margin: .75em 0 1em 1.5em;
    }

    .android-pay {
      width: 3.5em;
      margin: 0 0 1em 2em;
    }

    // .payments {
    //   margin: 0 0 3em 10%;
    // }
  }

} // end .personal-profile-main
