@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 100%
  );

.shop-user-main {

  @include container;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  .section-main {
    @include span( 12 of 12 );
    background-color: $color-user-profile;
    color: $color-user-text;

    .center-avatar {
      @include span( 4 of 12 );
      // background: orange;
      // position: fixed;
      margin: 0 0 1em 32%;

      .user-avatar {
        width: 6.5em;
        margin: 2em 0 0 0;
        border-radius: 50%;
      }
    } // end .center-avatar
  } // end .section-main

  .section-shopping-list {

    @include span( 12 of 12 );
    background-color: $color-user-profile2;
    overflow: auto;

    .username {
      text-align: center;
      font-size: 1.15em;
      font-weight: 400;
      margin: 1.25em 0 1.5em 0;
      color: $color-user-profile;
    }

    .shopping-headings {

      color: $color-dull-white;
      @include span( 12 of 12 );
      font-weight: 400;

      li {
        @include span( 3 of 12 );
        text-align: center;
        margin: 1em 0 1em 0;
      }

      .qty-heading {
        margin-left: 15%;
      }

      .item-heading {
        @include span( 5 of 12 );
        width: 8em;
        margin-left: 7%;
      }

      .checkbox-heading {
        margin-left: 90%;
      }
    } // end .shopping-headings

    .shopping-list {

      color: $color-dull-white;

      li {
        @include span( 12 of 12 );
        margin-bottom: 3em;
      }

      .qty,
      .shopping-item,
      .item-checkbox {
        @include span( 3 of 12 );
      }

      h2 {
        font-size: 1em;
      }

      .qty {
        margin: .45em 2em 0 10.35%;
      }

      .shopping-item {
        width: 8em;
        margin: .45em 1.5em 0 -3.75em;
      }

      .item-checkbox {
        // height: 5em;
        width: 5em;
        margin: .95em 0 0 1.5em;
      }
    }
  } // end .shopping-list


} // end .chore-user-main
