@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 100%
  );



.shop-user-main {
  @include container;
  box-sizing: border-box;
  background-color: $background;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  .section-main {
    @include span( 12 of 12 );
    background-color: $background;
    color: $color-user-text;
    // margin: 0 0 0 10%;
    margin-top: 2em;

    .sa-add{
      img{
        position: relative;
        height: 6em;
        float: left;
        top: 24em;
        left: 2em;
      }
    }

    .center-avatar {
      @include span( 12 of 12 );
      margin: -4em 6.5% 0 32.35%;

      .user-avatar {
        width: 22em;
        border-radius: 50%;
      }
    } // end .center-avatar
  } // end .section-main

  .section-shopping-list {

    @include span( 12 of 12 );
    background-color: $background;
    overflow: auto;


    .username,
    .username2 {
      text-align: center;
      font-size: 5.5em;
      font-weight: 400;
      margin: 1.25em 0 1.5em 0;
      color: $text;
    }

    .username2 {
      margin-top: -1.25em;
    }

    .shopping-headings {

      color: $text;
      @include span( 12 of 12 );
      font-size: 4em;
      font-weight: 400;

      li {
        @include span( 3 of 12 );
        text-align: center;
        margin: 1em 0 1em 0;
      }

      .qty-heading {
        margin-left: -.5em;
      }

      .item-heading {
        @include span( 5 of 12 );
        width: 8em;
        margin-left: -32%;
      }

      .checkbox-heading {
        margin: 0 0 0 77%;
      }
    } // end .shopping-headings

    .shopping-list {

      color: $text;
      padding-bottom: 25.5em;

      li {
        @include span( 12 of 12 );
        margin-bottom: 3em;
      }

      li:last-child {
        padding-bottom: 15em;
      }
      li:nth-child(odd){
        background: rgba(160,193,209,0.18);
      }

      .qty,
      .shopping-item,
      .item-checkbox {
        @include span( 3 of 12 );
      }

      h2 {
        font-size: 3.5em;
      }

      .qty {
        margin: .45em 2em 0 1.25em;
      }

      .shopping-item {
        width: 8em;
        margin: .45em 1.5em 0 -3.5em;
      }

      .item-checkbox {
        height: 5em;
        width: 5em;
        margin: 1.5em 0 0 8em;
        padding-top: .5em;
      }
    }
  } // end .shopping-list


} // end .chore-user-main
