@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 100%
  );

.chore-user-main {

  @include container;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  .section-main {
    @include span( 12 of 12 );
    background-color: $background;
    color: $color-user-text;
    margin-top: 2em;

    .center-avatar {
      @include span( 3 of 12 );
      // background: orange;
      margin: -4em 6.5% 0 32.35%;

      .user-avatar {
        width: 22em;
        border-radius: 50%;
      }
    } // end .center-avatar
  } // end .section-main

  .section-chores {

    @include span( 12 of 12 );
    background-color: $color-user-profile2;
    padding-bottom: 13.5em;
    overflow: auto;

    .username {
      text-align: center;
      font-size: 5.5em;
      font-weight: 400;
      margin: 1.25em 0 1em 0;
      color: $color-user-profile;
    }

    .chore-list {

      color: $color-dull-white;

      li {
        @include span( 12 of 12 );
        margin: 3.25em 0 1.25em 9%;
      }

      h2 {
        @include span( 3 of 12 );
      }

      span {
        @include span( 2 of 12 );
        margin: -.72em 0 0 .5em;
      }

      .chore-name,
      .chore-value,
      .chore-description {
        font-size: 4em;
      }

      .chore-icon {
        @include span( 3 of 12 );
        width: 4.5em;
        margin-right: .75em;
      }

      .chore-name {
        margin-left: 1em;
      }

      .chore-value {
        @include span( 2 of 12 );
        margin-left: 1.5em;
        // background: orange;
      }

      .fa-check-circle-o {
        @include span( 1 of 12 );
        font-size: 5.5em;
        margin: -.15em 0 0 .65em;
        cursor: pointer;
        // background: blue;
      }

      .chore-description {
        margin: 0 0 0 15%;
        // background: red;
      }
    }
  } // end .section-chores


} // end .chore-user-main
