@import "../../../bower_components/susy/sass/susy";

  $susy: (
    columns: 12,
    container: 100%
  );

.chore-user-main {

  @include container;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  .section-main {
    @include span( 12 of 12 );
    background-color: $color-user-profile;
    color: $color-user-text;
    margin-top: 2em;

    .center-avatar {
      @include span( 3 of 12 );
      // background: orange;
      margin: -4em 6.5% 0 32.35%;

      .user-avatar {
        width: 22em;
        border-radius: 50%;
      }
    } // end .center-avatar
  } // end .section-main

  .section-chores {

    @include span( 12 of 12 );
    background-color: $color-user-profile2;
    overflow: auto;

    .username {
      text-align: center;
      font-size: 5.5em;
      font-weight: 400;
      margin: 1.25em 0 1.5em 0;
      color: $color-user-profile;
    }

    .chore-list {

      color: $color-dull-white;

      li {
        @include span( 12 of 12 );
        margin: 1em 0 1.25em 9.5%;
      }

      h2 {
        @include span( 3 of 12 );
      }

      span {
        @include span( 2 of 12 );
        margin: -.72em 0 0 .5em;
      }

      .chore-value {
        @include span( 2 of 12 );
        display: inline-block;
        margin-left: -10%;
        // background: orange;
      }

      .chore-icon {
        @include span( 3 of 12 );
        width: 2em;
        margin-right: .75em;
      }

      h2 {
        font-size: 1em;
        width: 7em;
        margin: .20em 10% 0 10%;
      }

      .fa-check-circle-o {
        font-size: 2em;
        cursor: pointer;
      }
    }
  } // end .section-chores


} // end .chore-user-main
